<div class="nav-bar">
  <img src="../assets/imgs/icon.png" style="background: white; border-radius: 50%;" height="50px" alt="" srcset="">
  <h1>MINUTA DE GUARDIA</h1>
  <div class="iconNavContainer" *ngIf="!(isAuthenticated$ | async)" (click)="loginWithRedirect()">
    <a class="iconNav" extended (click)="logout()">
      <mat-icon>login</mat-icon>
      Iniciar Sesion
    </a>
  </div>
  <div class="actionsInfo" *ngIf="(isAuthenticated$ | async)   ">
    <p class="userLabel">{{userName}}</p>
    <div class="iconNavContainer">
      <a class="iconNav" extended (click)="logout()">
        <mat-icon>logout</mat-icon>
      </a>
    </div>
  </div>

</div>
<div class="userAuth" *ngIf="(isAuthenticated$ | async) ">
  <div class="action-register">
    <button mat-raised-button (click)="openDialog()" color="primary">NUEVO REGISTRO</button>
  </div>

  <div class="" style="padding: 20px;">

    <div style="gap: 20px; display: flex;">
      <!-- Input de búsqueda -->
      <mat-form-field style="min-width: 250px;">
        <mat-label>Buscar por asunto o detalle</mat-label>
        <input matInput #searchInput>
      </mat-form-field>

      <!-- Filtro por fecha -->
      <mat-form-field>
        <mat-label>Fecha de inicio</mat-label>
        <input matInput [matDatepicker]="startDatePicker" [(ngModel)]="startDate" (dateChange)="buscarPorFecha()">
        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #startDatePicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Fecha de fin</mat-label>
        <input matInput [matDatepicker]="endDatePicker" [(ngModel)]="endDate" (dateChange)="buscarPorFecha()">
        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #endDatePicker></mat-datepicker>
      </mat-form-field>
    </div>
    <table mat-table [dataSource]="formularios" class="mat-elevation-z8" style="width: 100%">

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Fecha Column -->
      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef> FECHA </th>
        <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
      </ng-container>

      <ng-container matColumnDef="hora">
        <th mat-header-cell *matHeaderCellDef> HORA </th>
        <td mat-cell *matCellDef="let element"> {{element.hora}} </td>
      </ng-container>


      <!-- Asunto Column -->
      <ng-container matColumnDef="asunto">
        <th mat-header-cell *matHeaderCellDef> ASUNTO </th>
        <td mat-cell *matCellDef="let element"> {{element.asunto}} </td>
      </ng-container>

      <!-- Detalle Column -->
      <ng-container matColumnDef="detalle">
        <th mat-header-cell *matHeaderCellDef> DETALLE </th>
        <td mat-cell *matCellDef="let element"> {{element.detalle}} </td>
      </ng-container>

      <!-- Guardia Column -->
      <ng-container matColumnDef="guardia">
        <th mat-header-cell *matHeaderCellDef> GUARDIA </th>
        <td mat-cell *matCellDef="let element"> {{element.user_name}} </td>
      </ng-container>

      <!-- Otros campos ... -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> ACCIONES </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button  title="Editar ">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn"  title="Eliminar">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <!-- Header and Row Definitions -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!-- Paginador -->
    <mat-paginator [length]="totalFormularios" [pageSize]="pageSize" (page)="cargarFormularios($event)"></mat-paginator>


  </div>

</div>

<div class="welcome"  *ngIf="!(isAuthenticated$ | async)">
  <img src="../assets/imgs/icon.png" alt="Logo Bomberos Cartago" srcset="">
  <p>Bienvenido al sistema de registro de minutas de los Bomberos de Cartago. Por favor, inicie sesión para continuar.
  </p>
  <button mat-raised-button color="primary" (click)="loginWithRedirect()">INICIAR SESION</button>

</div>
<div class="foot" >
  <p>Hecho por Kevin Agudelo para Bomberos Cartago &copy; 2024. Todos los derechos reservados.</p>
</div>
<router-outlet></router-outlet>