<div>
    <h2 mat-dialog-title>Nuevo registro</h2>
    <form [formGroup]="formulario" class="formulario">
        <!-- Campo Fecha -->
        <mat-form-field appearance="fill">
            <mat-label>Fecha</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="fecha" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <!-- Campo Hora -->
        <mat-form-field appearance="fill">
            <mat-label>Hora</mat-label>
            <input matInput type="time" formControlName="hora" />
        </mat-form-field>

        <!-- Campo Asunto -->
        <mat-form-field appearance="fill">
            <mat-label>Asunto</mat-label>
            <input matInput placeholder="Ingrese el asunto" formControlName="asunto" />
        </mat-form-field>

        <!-- Campo Detalle -->
        <mat-form-field appearance="fill">
            <mat-label>Detalle</mat-label>
            <textarea matInput placeholder="Ingrese los detalles" formControlName="detalle"></textarea>
        </mat-form-field>

        <!-- Botón Enviar -->
        <button mat-raised-button  color="primary" type="submit" (click)="enviarFormulario()">
            Enviar
        </button>
    </form>
</div>